.wrapper {
  position: relative;
}
.wrapper .loading-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #976d9e;
  visibility: hidden;
  transition: all 0.7s ease-in-out;
  animation: fadeOut 0.7s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.wrapper .loading-page.active {
  visibility: visible;
  animation: fadeIn 0.7s ease-in-out;
}
.wrapper .header {
  position: fixed;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  width: 100%;
  height: 5.4rem;
  z-index: 5;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 192rem;
  background-color: #2c2e3d;
  animation: showon 0.8s ease;
}
@keyframes showon {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.wrapper .header .header-inner {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: inherit;
}
.wrapper .header .header-inner .logo {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.wrapper .header .header-inner .logo__text {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.7;
  margin-left: 1rem;
}
.wrapper .header .header-inner .menu {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
}
.wrapper .header .header-inner .menu__item:not(:last-child) {
  margin-right: 1rem;
}
.wrapper .header .header-inner .menu__item .menu__link {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #99a9b5;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border: 2px solid transparent;
}
.wrapper .header .header-inner .menu__item .menu__link.active {
  border: 2px solid #ffffff;
  color: #00bcd4;
}
.wrapper .header .header-inner .menu__item .menu__link:hover {
  transition: all 0.4s ease-in-out;
  color: #00bcd4;
}
.wrapper .header .header-inner .header__actions {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.wrapper .header .header-inner .header__actions .header__action {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.2rem 0;
  cursor: pointer;
}
.wrapper .header .header-inner .header__actions .header__action:not(:last-child) {
  margin-right: 2rem;
}
.wrapper .header .header-inner .header__actions .header__action .header__icon {
  font-size: 2rem;
  text-transform: unset;
  color: #99a9b5;
  font-weight: normal;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.wrapper .header .header-inner .header__actions .language__display {
  width: 1.9rem;
  height: 1.3rem;
  display: flex;
  width: max-content;
}
.wrapper .header .header-inner .header__actions .language__display .language__arrow {
  margin-left: 0.4rem;
  color: #ffffff;
  transition: transform 0.4s ease;
}
.wrapper .header .header-inner .header__actions .language__display .language__arrow.active {
  transform: rotate(180deg);
}
.wrapper .header .header-inner .header__actions .language__hidden {
  position: absolute;
  top: 150%;
  bottom: unset;
  left: unset;
  right: calc(100% - 2.5rem);
  width: 100%;
  height: 5.4rem;
  z-index: 5;
  width: fit-content;
  height: fit-content;
  padding: 1.2rem 0;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
  transform: scaleY(0);
  transition: transform 0.4s ease;
  transform-origin: top;
}
.wrapper .header .header-inner .header__actions .language__hidden.active {
  transform: scaleY(1);
}
.wrapper .header .header-inner .header__actions .language__hidden:before {
  position: absolute;
  right: 7%;
  bottom: 100%;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #ffffff;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item {
  display: flex;
  gap: 1.2rem;
  padding: 0 1.8rem;
  cursor: pointer;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item:not(:last-child) {
  margin-bottom: 1rem;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item .language__img {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item .language__img img {
  object-fit: cover;
  max-width: 175%;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item .language__details {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item .language__details .language__text {
  width: max-content;
  font-weight: bold;
}
.wrapper .header .header-inner .header__actions .language__hidden .language__item .language__details .language__example {
  width: max-content;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #99a9b5;
  font-weight: 500;
}
.wrapper .header .header-inner .header__actions .cart {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.2rem;
}
.wrapper .header .header-inner .header__actions .cart .card__number {
  position: relative;
  padding: 0 0.8rem 0 0.6rem;
  margin-left: 0.8rem;
  color: #ffffff;
  background-color: #00bcd4;
}
.wrapper .header .header-inner .header__actions .cart .card__number::before {
  position: absolute;
  top: unset;
  bottom: unset;
  left: unset;
  right: 100%;
  width: 0;
  height: 0;
  z-index: 1;
  content: "";
  border-top: 0.7955rem solid transparent;
  border-right: 0.7955rem solid #00bcd4;
}
.wrapper .header .header-inner .header__actions .cart .card__number::after {
  position: absolute;
  top: unset;
  bottom: 0;
  left: unset;
  right: 100%;
  width: 0;
  height: 0;
  z-index: 1;
  content: "";
  border-bottom: 0.7955rem solid transparent;
  border-right: 0.7955rem solid #00bcd4;
}
.wrapper .slider1 {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  width: 100%;
  height: 95.9rem;
  z-index: 2;
  background-color: #2c2e3d;
  max-width: 192rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.wrapper .slider1 .slider__arrows .slider__arrow-left {
  position: absolute;
  top: calc(50% - 4rem);
  bottom: unset;
  left: unset;
  right: unset;
  width: 8rem;
  height: 8rem;
  z-index: 4;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #212331;
}
.wrapper .slider1 .slider__arrows .slider__arrow-left:hover {
  background-color: #00bcd4;
  cursor: pointer;
}
.wrapper .slider1 .slider__arrows .slider__arrow-left .arrow__icon {
  font-size: 4.4444444444rem;
}
.wrapper .slider1 .slider__arrows .slider__arrow-right {
  position: absolute;
  top: calc(50% - 4rem);
  bottom: unset;
  left: unset;
  right: unset;
  width: 8rem;
  height: 8rem;
  z-index: 4;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #212331;
  right: 0;
}
.wrapper .slider1 .slider__arrows .slider__arrow-right:hover {
  background-color: #00bcd4;
  cursor: pointer;
}
.wrapper .slider1 .slider__arrows .slider__arrow-right .arrow__icon {
  font-size: 4.4444444444rem;
}
.wrapper .slider1 .slider__paginations {
  position: absolute;
  top: unset;
  bottom: 5%;
  left: unset;
  right: unset;
  width: 100%;
  height: fit-content;
  z-index: 3;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #ffffff;
}
.wrapper .slider1 .slider__paginations .slider__pagination {
  width: 2.4rem;
  height: 2.4rem;
  box-shadow: 0 0 0 4px #ffffff;
  border: 4px solid #2c2e3d;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper .slider1 .slider__paginations .slider__pagination:not(:last-child) {
  margin-right: 2.2rem;
}
.wrapper .slider1 .slider__paginations .slider__pagination.active {
  background-color: #00bcd4;
}
.wrapper .slider1 .slider__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.wrapper .slider1 .slider__container .slider__wrapper {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
}
.wrapper .slider1 .slider__container .slider__wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper .slider1 .slider__container .slider__wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide {
  min-width: 100%;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__img {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 11.3rem;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__captions {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 6.5rem;
  line-height: 0.7;
  color: #ffffff;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__captions .slider__caption {
  font-size: 7rem;
  text-transform: uppercase;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__captions .slider__caption:not(:last-child) {
  margin-right: 2rem;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__captions .slider__caption.thin {
  font-weight: 200;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__captions .slider__caption.bold {
  font-weight: 600;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 8rem;
  text-align: center;
  font-size: 2.4rem;
  color: #c5d2d4;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__buttons {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__buttons .slider__button {
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 0.8rem 1.7rem;
  border: 3px solid #ffffff;
  border-radius: 3rem;
  cursor: pointer;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__buttons .slider__button:hover {
  border: 2px solid #00bcd4;
  color: #00bcd4;
}
.wrapper .slider1 .slider__container .slider__wrapper .slider__slide .slider__buttons .slider__button:not(:last-child) {
  margin-right: 2.5rem;
}

.wrapper .container .summary__captions {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 11.4rem;
}
.wrapper .container .summary__captions .summary__caption {
  font-size: 5rem;
  text-transform: uppercase;
  color: #3c3950;
  font-weight: normal;
  line-height: 0.7;
}
.wrapper .container .summary__captions .summary__caption.thin {
  font-weight: 300;
}
.wrapper .container .summary__captions .summary__caption.bold {
  font-weight: 700;
}
.wrapper .container .summary__captions .summary__caption:not(last-child) {
  margin-right: 2rem;
}
.wrapper .container .summary__detail {
  margin-top: 7.6rem;
  margin-bottom: 10rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #5f727f;
  font-weight: normal;
}
.wrapper .container .pricing .pricing__item {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #f0f3f2;
  transition: all 0.4s ease;
  border: 0.4px solid #99a9b5;
  border-right: none;
  cursor: pointer;
  margin: 9rem 0;
}
.wrapper .container .pricing .pricing__item:last-child {
  border-right: 0.4px solid #99a9b5;
}
.wrapper .container .pricing .pricing__item:hover {
  background-color: #ffffff;
}
.wrapper .container .pricing .pricing__item-new:before {
  position: absolute;
  top: -2.5rem;
  bottom: unset;
  left: 2.5rem;
  right: unset;
  width: 5rem;
  height: 5rem;
  z-index: 2;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  content: "new";
  background: #000;
  border-radius: 50%;
}
.wrapper .container .pricing .pricing__item .pricing__type {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #3c3950;
  font-weight: 300;
  padding: 3.9rem 0;
  line-height: 0.7;
}
.wrapper .container .pricing .pricing__item .pricing__main {
  padding: 4rem 0 2.3rem 0;
  margin-bottom: auto;
}
.wrapper .container .pricing .pricing__item .pricing__main.bg-green1 {
  background: #b0de79;
}
.wrapper .container .pricing .pricing__item .pricing__main.bg-green2 {
  background: #7ee0bf;
}
.wrapper .container .pricing .pricing__item .pricing__main.bg-green3 {
  background: #83bce9;
}
.wrapper .container .pricing .pricing__item .pricing__main.bg-purple {
  background: #a289e8;
}
.wrapper .container .pricing .pricing__item .pricing__main .pricing__price {
  font-size: 6.5rem;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  line-height: 0.7;
}
.wrapper .container .pricing .pricing__item .pricing__main .pricing__price-cal {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  margin-top: 1rem;
}
.wrapper .container .pricing .pricing__item .pricing__subtitle {
  padding: 1.6rem;
}
.wrapper .container .pricing .pricing__item .pricing__subtitle .pricing__title {
  font-size: 2.3rem;
  text-transform: capitalize;
  color: #3c3950;
  font-weight: 300;
}
.wrapper .container .pricing .pricing__item .pricing__subtitle .pricing__desc {
  font-size: 1.4rem;
  text-transform: none;
  color: #99a9b5;
  font-weight: 300;
}
.wrapper .container .pricing .pricing__item .pricing__details .pricing__detail {
  font-size: 1.6rem;
  text-transform: none;
  color: #3c3950;
  font-weight: 300;
  padding: 1.6rem;
  border-top: 0.4px solid #99a9b5;
}
.wrapper .container .pricing .pricing__item .pricing__details .pricing__detail--dismiss {
  text-decoration: line-through;
  color: #99a9b5;
}
.wrapper .container .pricing .pricing__item .pricing__button {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: fit-content;
  padding: 1.4rem 2.1rem;
  margin: 3.2rem auto 5rem;
  background: #3c3950;
  border-radius: 2rem;
  cursor: pointer;
}
.wrapper .container .pricing .pricing__item .pricing__button.bg-green1 {
  background: #b0de79;
}
.wrapper .container .pricing .pricing__item .pricing__button.bg-green2 {
  background: #7ee0bf;
}
.wrapper .container .pricing .pricing__item .pricing__button.bg-green3 {
  background: #83bce9;
}
.wrapper .container .pricing .pricing__item .pricing__button.bg-purple {
  background: #a289e8;
}
.wrapper .container .pricing .pricing__item .pricing__button .pricing__button-icon {
  margin-right: 0.5rem;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.wrapper .container .pricing .pricing__item .pricing__button .pricing__button-text {
  line-height: 0.7;
}

.wrapper .container .pricing-2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.wrapper .container .pricing-2 .pricing__item {
  border: none;
  background-color: #ffffff;
}
.wrapper .container .pricing-2 .pricing__item:hover > .pricing__bottom {
  border: 3px solid #3c3950;
  border-top: none;
}
.wrapper .container .pricing-2 .pricing__item-new:before {
  position: absolute;
  top: -3rem;
  bottom: unset;
  left: calc(50% - 3rem);
  right: unset;
  width: 6rem;
  height: 6rem;
  z-index: 2;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3c3950;
  font-weight: 600;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  content: "new";
  background: #ffcd37;
  border-radius: 50%;
}
.wrapper .container .pricing-2 .pricing__item .pricing__bottom {
  border: 3px solid #99a9b5;
  border-top: none;
  transition: all 0.2s ease;
}
.wrapper .container .pricing-2 .pricing__item .pricing__main {
  background-color: #393d50;
  padding: 4.4rem 0 3.8rem;
  flex-grow: 1;
}
.wrapper .container .pricing-2 .pricing__item .pricing__main .pricing__type {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #00bcd4;
  font-weight: 300;
  padding: 0;
  padding-bottom: 2.2rem;
}
.wrapper .container .pricing-2 .pricing__item .pricing__main .pricing__price {
  font-size: 2.4rem;
  text-transform: none;
  color: #ffffff;
  font-weight: 300;
  margin-right: 0.5rem;
}
.wrapper .container .pricing-2 .pricing__item .pricing__main .pricing__price-cal {
  font-size: 2.4rem;
  text-transform: capitalize;
  color: #99a9b5;
  font-weight: 300;
}
.wrapper .container .pricing-2 .pricing__item .pricing__main .pricing__price-decs {
  font-size: 1.4rem;
  text-transform: none;
  color: #5f727f;
  font-weight: 300;
}
.wrapper .container .pricing-2 .pricing__item .pricing__subtitle {
  padding: 2.7rem 0 2.3rem;
}
.wrapper .container .pricing-2 .pricing__item .pricing__subtitle .pricing__title {
  color: #00bcd4;
}
.wrapper .container .pricing-2 .pricing__item .pricing__details .pricing__detail {
  border: none;
}
.wrapper .container .pricing-2 .pricing__item .pricing__details .pricing__detail--bg {
  background: #f4f6f7;
}
.wrapper .container .pricing-2 .pricing__item .pricing__actions .pricing__button {
  color: #00bcd4;
  background: #ffffff;
  border: 3px solid #00bcd4;
  border-radius: 5px;
  padding: 1.4rem 2.3rem;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-2 .pricing__item .pricing__actions .pricing__button:hover {
  color: #ffffff;
  background: #00bcd4;
  border: 3px solid #ffffff;
}

.wrapper .container .pricing-3 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 9rem 0;
}
.wrapper .container .pricing-3 .pricing__item {
  border: none;
  border-radius: 4rem;
  transition: all 0.3s ease;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.wrapper .container .pricing-3 .pricing__item:last-child {
  border: none;
}
.wrapper .container .pricing-3 .pricing__item:hover {
  background: #393d50;
}
.wrapper .container .pricing-3 .pricing__item:hover .pricing__subtitle .pricing__title {
  color: #99a9b5;
}
.wrapper .container .pricing-3 .pricing__item:hover .pricing__type {
  color: #ffffff;
}
.wrapper .container .pricing-3 .pricing__item:hover .pricing__detail {
  color: #99a9b5;
}
.wrapper .container .pricing-3 .pricing__item:hover .pricing__button {
  background: #00bcd4;
}
.wrapper .container .pricing-3 .pricing__item-new:before {
  background: #f44336;
  color: #ffffff;
}
.wrapper .container .pricing-3 .pricing__item .pricing__subtitle {
  padding: 2.5rem;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-3 .pricing__item .pricing__main {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
  padding: 0;
  border-radius: 50%;
  transition: all 0.3s ease;
  background: #ffffff;
}
.wrapper .container .pricing-3 .pricing__item .pricing__main .pricing__price {
  font-size: 4rem;
  text-transform: capitalize;
  color: #3c3950;
  font-weight: 300;
}
.wrapper .container .pricing-3 .pricing__item .pricing__main .pricing__price-cal {
  font-size: 2.4rem;
  text-transform: none;
  color: #00bcd4;
  font-weight: 300;
}
.wrapper .container .pricing-3 .pricing__item .pricing__type {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #3c3950;
  font-weight: 600;
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-3 .pricing__item .pricing__type:after {
  position: absolute;
  bottom: 0;
  left: calc(50% - 3rem);
  content: "";
  width: 6rem;
  height: 2px;
  background: #00bcd4;
}
.wrapper .container .pricing-3 .pricing__item .pricing__details .pricing__detail {
  border: none;
  padding: 0;
  line-height: 0.7;
  padding-bottom: 2rem;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-3 .pricing__item .pricing__button {
  background: #b6c6c9;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.wrapper .container .pricing-4 {
  padding: 9rem 0;
}
.wrapper .container .pricing-4 .pricing__item {
  background: #2c2e3d;
  border-radius: 0;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  cursor: pointer;
}
.wrapper .container .pricing-4 .pricing__item-new:before {
  position: absolute;
  top: -1.5rem;
  bottom: unset;
  left: calc(50% - 3rem);
  right: unset;
  width: 6rem;
  height: 6rem;
  z-index: 2;
  background: #3c3950;
  color: #ffffff;
}
.wrapper .container .pricing-4 .pricing__item:hover {
  background: #393d50;
}
.wrapper .container .pricing-4 .pricing__item:hover .pricing__type--green {
  color: #00bcd4;
}
.wrapper .container .pricing-4 .pricing__item:hover .pricing__type--purple {
  color: #a637ec;
}
.wrapper .container .pricing-4 .pricing__item:hover .pricing__type--pink {
  color: #ee417c;
}
.wrapper .container .pricing-4 .pricing__item:hover .pricing__type--yellow {
  color: #ff994e;
}
.wrapper .container .pricing-4 .pricing__item:hover .pricing__button {
  background: #ffffff;
  color: #3c3950;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main {
  margin: 2.45rem 0;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main--green {
  background: #00bcd4;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main--purple {
  background: #a637ec;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main--pink {
  background: #ee417c;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main--yellow {
  background: #ff994e;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main .pricing__price {
  color: #ffffff;
}
.wrapper .container .pricing-4 .pricing__item .pricing__main .pricing__price-cal {
  color: #ffffff;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type {
  width: 100%;
  background: #393d50;
  margin: 0;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type--green {
  color: #00bcd4;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type--purple {
  color: #a637ec;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type--pink {
  color: #ee417c;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type--yellow {
  color: #ff994e;
}
.wrapper .container .pricing-4 .pricing__item .pricing__type:after {
  position: unset;
}
.wrapper .container .pricing-4 .pricing__item .pricing__subtitle {
  background: #313445;
}
.wrapper .container .pricing-4 .pricing__item .pricing__subtitle .pricing__title {
  color: #99a9b5;
}
.wrapper .container .pricing-4 .pricing__item .pricing__subtitle .pricing__desc {
  color: #5f727f;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details--green ion-icon {
  color: #00bcd4;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details--purple ion-icon {
  color: #a637ec;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details--pink ion-icon {
  color: #ee417c;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details--yellow ion-icon {
  color: #ff994e;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details .pricing__detail {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 0;
  color: #99a9b5;
}
.wrapper .container .pricing-4 .pricing__item .pricing__details .pricing__detail--dismiss {
  color: #5f727f;
}
.wrapper .container .pricing-4 .pricing__item .pricing__button {
  border-radius: 2rem;
}

.wrapper .container .pricing-5 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 17.9rem 0 14rem;
}
.wrapper .container .pricing-5 .pricing__item {
  position: relative;
  border: none;
  background: #ffffff;
}
.wrapper .container .pricing-5 .pricing__item:last-child {
  border: none;
}
.wrapper .container .pricing-5 .pricing__item:hover .pricing__main .pricing__price {
  background: #2c2e3d;
}
.wrapper .container .pricing-5 .pricing__item:hover .pricing__main .pricing__price .price__num {
  color: #d74498;
}
.wrapper .container .pricing-5 .pricing__item:hover .pricing__bottom .pricing__button {
  color: #ffffff;
  background: #6c136f;
  border: 1px solid #6c136f;
}
.wrapper .container .pricing-5 .pricing__item-new:before {
  position: absolute;
  top: -1.0909090909rem;
  bottom: unset;
  left: -1.0909090909rem;
  right: unset;
  width: 6rem;
  height: 6rem;
  z-index: 2;
  background: #00bcd4;
  color: #ffffff;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main {
  height: 27.2rem;
  padding: 0;
  background: no-repeat;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price {
  position: absolute;
  top: -6rem;
  bottom: unset;
  left: calc(50% - 6rem);
  right: unset;
  width: 12rem;
  height: 12rem;
  z-index: 1;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1.3rem;
  background: #ffffff;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price__num {
  font-size: 3.2rem;
  border: none !important;
  transition: all 0.4s ease;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price__num--blue {
  color: #2196f7;
  border: 1px solid #2196f7;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price__num--pink {
  color: #d74498;
  border: 1px solid #d74498;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price__num--green {
  color: #32ad1e;
  border: 1px solid #32ad1e;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .price__decs {
  font-size: 1.6rem;
  color: #99a9b5;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .type {
  height: 100%;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2rem;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .type__name {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
}
.wrapper .container .pricing-5 .pricing__item .pricing__main .type__decs {
  font-size: 1.4rem;
  text-transform: none;
  color: #b6c6c9;
  font-weight: normal;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__details .pricing__detail {
  border: none;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__details .pricing__detail--bg {
  background: #f4f6f7;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__button {
  background: #ffffff;
  border-radius: 0;
  transition: all 0.4s ease;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__button--blue {
  color: #2196f7;
  border: 1px solid #2196f7;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__button--pink {
  color: #d74498;
  border: 1px solid #d74498;
}
.wrapper .container .pricing-5 .pricing__item .pricing__bottom .pricing__button--green {
  color: #32ad1e;
  border: 1px solid #32ad1e;
}

.wrapper .container .pricing-6 {
  grid-template-columns: repeat(3, 1fr);
  padding: 17.9rem 0 14rem;
  gap: 0;
}
.wrapper .container .pricing-6 .pricing__item:hover .pricing__bottom .pricing__button {
  background: #2c2e3d;
}
.wrapper .container .pricing-6 .pricing__item-new:before {
  position: absolute;
  top: -3rem;
  bottom: unset;
  left: 15rem;
  right: unset;
  width: 6rem;
  height: 6rem;
  z-index: 2;
  background-image: url(../images/serrated.png);
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main--green {
  background: #00bcd4;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main--blue {
  background: #1c94ca;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main--purple {
  background: #7264bd;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .price {
  position: absolute;
  top: -6rem;
  bottom: unset;
  left: 4.5rem;
  right: unset;
  width: 12rem;
  height: 12rem;
  z-index: 1;
  background: #393d50;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .price .price__num--green {
  color: #00bcd4;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .price .price__num--blue {
  color: #1c94ca;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .price .price__num--purple {
  color: #7264bd;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .type {
  height: 100%;
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2rem;
  padding-left: 4.5rem;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .type__name {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}
.wrapper .container .pricing-6 .pricing__item .pricing__main .type__decs {
  font-size: 1.4rem;
  text-transform: none;
  color: #ffffff;
  font-weight: normal;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom {
  border-left: 1px solid #6c7c86;
  border-bottom: 1px solid #6c7c86;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom--border-right {
  border-right: 1px solid #6c7c86;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom .pricing__subtitle {
  padding-left: 4.5rem;
  text-align: left;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom .pricing__details .pricing__detail {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  border: none;
  padding-left: 4.5rem;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom .pricing__details .pricing__detail--bg {
  background: #f4f6f7;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom .pricing__button {
  margin-left: 4.5rem;
  border-radius: 2rem;
  background: #b6c6c9;
  border: 1px solid #b6c6c9;
  transition: all 0.4s ease;
}
.wrapper .container .pricing-6 .pricing__item .pricing__bottom .pricing__button .pricing__button-text {
  line-height: 1;
}

.wrapper .container .pricing-7 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  padding: 17.9rem 0 14rem;
  gap: 3rem;
}
.wrapper .container .pricing-7 .pricing__item {
  position: relative;
  border: none;
  background: #1c94ca;
}
.wrapper .container .pricing-7 .pricing__item:last-child {
  border: none;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__main {
  background-color: #ffffff;
  margin: 0;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__main .pricing__type .type__name {
  color: #3c3950;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom {
  background: #c5d2d4;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom:before {
  background-color: #c5d2d4;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom:after {
  background-color: #c5d2d4;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom .pricing__price .pricing__decs {
  color: #ff8f00;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom .pricing__subtitle .pricing__title {
  color: #99a9b5;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom .pricing__subtitle .pricing__desc {
  color: #ffffff;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom .pricing__details .pricing__detail {
  border-top: 1px solid #ffffff;
}
.wrapper .container .pricing-7 .pricing__item:hover .pricing__bottom .pricing__button {
  background-color: #00bcd4;
}
.wrapper .container .pricing-7 .pricing__item-new:before {
  position: absolute;
  top: -1.0909090909rem;
  bottom: unset;
  left: -1.0909090909rem;
  right: unset;
  width: 6rem;
  height: 6rem;
  z-index: 2;
  background-image: url(../images/serrated-red.png);
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  transform: rotate(-45deg);
}
.wrapper .container .pricing-7 .pricing__item .pricing__main {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 4rem;
  height: 31rem;
  padding: 0;
  background-color: #393d50;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .price {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1.8rem;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .price__num {
  font-size: 5.6rem;
  text-transform: none;
  color: #6c7c86;
  font-weight: normal;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .price__decs {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #ffd54f;
  font-weight: normal;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .pricing__type {
  padding: 0;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .type {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2rem;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .type__name {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  transition: all 0.3s ease;
  line-height: 1;
}
.wrapper .container .pricing-7 .pricing__item .pricing__main .type__decs {
  font-size: 1.4rem;
  text-transform: none;
  color: #b6c6c9;
  font-weight: normal;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom {
  background-color: #ffffff;
  transition: all 0.3s ease;
  position: relative;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom:before {
  position: absolute;
  bottom: 100%;
  left: 0;
  content: "";
  width: 50%;
  height: 5rem;
  background-color: #ffffff;
  border-top-right-radius: 180px;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom:after {
  position: absolute;
  bottom: 100%;
  content: "";
  width: 50%;
  height: 5rem;
  background-color: #ffffff;
  border-top-left-radius: 180px;
  transition: all 0.3s ease;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom .pricing__subtitle .pricing__title {
  color: #00bcd4;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom .pricing__subtitle .pricing__desc {
  transition: all 0.3s ease;
}
.wrapper .container .pricing-7 .pricing__item .pricing__bottom .pricing__button {
  background: #3c3950;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.wrapper .container .footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  padding: 15.9rem 0 12rem;
  gap: 2rem;
  color: #ffffff;
}
.wrapper .container .footer__item .footer__contact_cap {
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}
.wrapper .container .footer__item .footer__main .logo {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 3rem;
}
.wrapper .container .footer__item .footer__main .logo__texts {
  height: 100%;
}
.wrapper .container .footer__item .footer__main .logo__texts .logo__text {
  font-size: 3.867rem;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  line-height: 0.8;
}
.wrapper .container .footer__item .footer__main .logo__texts .logo__text--bold {
  font-weight: 600;
}
.wrapper .container .footer__item .footer__main .footer__decs {
  font-size: 1.6remrem;
  text-transform: none;
  color: #99a9b5;
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.wrapper .container .footer__item .footer__contact .address {
  font-size: 1.6remrem;
  text-transform: capitalize;
  color: #99a9b5;
  font-weight: 300;
}
.wrapper .container .footer__item .footer__contact .address__title {
  display: flex;
  gap: 1rem;
}
.wrapper .container .footer__item .footer__contact .address__list .address__item {
  padding-top: 0.5rem;
}
.wrapper .container .footer__item .footer__contact .phone,
.wrapper .container .footer__item .footer__contact .fax,
.wrapper .container .footer__item .footer__contact .email,
.wrapper .container .footer__item .footer__contact .website {
  font-size: 1.6remrem;
  text-transform: capitalize;
  color: #99a9b5;
  font-weight: 300;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.wrapper .container .footer__item .footer__contact .phone__title,
.wrapper .container .footer__item .footer__contact .fax__title,
.wrapper .container .footer__item .footer__contact .email__title,
.wrapper .container .footer__item .footer__contact .website__title {
  display: flex;
  gap: 1rem;
}
.wrapper .container .footer__item .footer__contact .email__content,
.wrapper .container .footer__item .footer__contact .website__content {
  color: #00bcd4;
  text-transform: lowercase;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post {
  display: flex;
  font-size: 1.6remrem;
  text-transform: none;
  color: #99a9b5;
  font-weight: normal;
  gap: 1.5rem;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__thumn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #6c7c86;
  flex-shrink: 0;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info {
  display: flex;
  flex-direction: column;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info .post__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  width: 100%;
  margin-bottom: auto;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info .post__bottom {
  display: flex;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info .post__bottom .post__datePublish {
  color: #00bcd4;
  margin-right: auto;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info .post__bottom .post__chat {
  display: flex;
  gap: 0.5rem;
}
.wrapper .container .footer__item .recent-post .recent-post__list .post .post__info .post__bottom .post__chat__green {
  color: #00bcd4;
}
.wrapper .container .footer__item .useful-link .useful-link__list .useful-link__item {
  --webkit-display: flex;
  --moz-display: flex;
  --ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.wrapper .container .footer__item .useful-link .useful-link__list .useful-link__item .useful-link__dot {
  width: 3px;
  height: 3px;
  background: #00bcd4;
  border-radius: 50%;
}
.wrapper .container .footer__item .useful-link .useful-link__list .useful-link__item a {
  font-size: 1.6remrem;
  text-transform: capitalize;
  color: #99a9b5;
  font-weight: normal;
  padding-left: 1rem;
}

/*# sourceMappingURL=css.style.css.map */
